@media only screen and (max-width:1500px) {
    .LACards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .LAArrows {
        display:none;
    }

    .HowItWorks-blocks-wrapper {
        flex-direction: column;
    }
    
    .vector{
        display: block;
        margin: 10px 0;
    }

    .vectorhorizon {
        display:none;
    }

    .PopularCollections-blocks-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .PopularCollections-arrow {
        display:none
    }

    .Categories-blocks-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .LiveAuctions {
        margin-left: 0;
    }

    .HowItWorks {
        margin: 185px 83px 174px 83px;
    }

    .PopularCollections {
        margin-left: 0;
    }

    .Categories {
        margin-left: 0px;
        padding: 80px 0 80px 0;
    }

    .TopCreators {
        padding: 104px 108px 80px 108px
    }

}
@media only screen and (max-width:1400px) {
    
    .header-item {
        display:none;
    }

    .header-item-img {
        max-width: 282px;
        display:flex;
        justify-content: center;
    }

    .headmedia{
        display: flex;
        justify-content:center;
        padding: 50px 0;
    }

    .header-item0 {
        display:block;
    }

    .header-main-title {
        text-align: center;
    }

    .header-main-btns {
        justify-content: center;
    }

    .header-main-counts {
        justify-content: center;
        margin-top: 0;
    }

    .header-main-btn {
        display:none;
    }

    .header-inner {
        display:none;

    }

    .burg{
        display: block;
    }

}

@media only screen and (max-width:1250px){
    .titles{
        flex-direction: column;
        grid-gap: 20px;
        margin: 84px 0;
    }

    .LATitles{
        margin-top: 0;
    }

}

@media only screen and (max-width:1100px){
    .Search-line-wrapper{
        flex-direction: column;
        align-items: center;
    } 

    .Search-line-wrapper button {
        margin-top:32px;
    }

    footer {
        display:block;
        text-align: center;
        padding:0; 
    }

    footer p {
        color: #96839B;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
    }

    .footer-1 {
        justify-content: center;
        padding: 57px 0 51px 0; 
    }

    .footer-2 {
        padding-bottom:44px;
    }

    .footer-3 {
        display:flex;
        justify-content: space-around;
    }

    .footer-imgs {
        justify-content: center;
        padding: 51px 0 7px 0;
        margin: 0;
    }

    .spn {
        padding-bottom: 11px;
    }

    .end {
        display:none;
    }

    .end1{
        display:block;
    }

}
